<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {{{ style }}}
</head>

<main id="resume" class="page">
  {{> header}}
  {{> profiles }}
  {{> about}}
  {{> skills }}
  {{> work }}
  {{> volunteer }}
  {{> projects }}
  {{> publications }}
  {{> awards }}
  {{> education }}
  {{> references }}
  {{> meta }}
</main>
