---
sections:
  - name: About
    anchor: about
    active: true
  - name: Where To Find Me
    anchor: where
  - name: Things I've Done
    anchor: things
  - name: Resumé
    anchor: resume
---
<!DOCTYPE HTML>
<!--
	Read Only by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>Dan Hulton</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body class="is-preload">

<!-- Header -->
<section id="header">
  <header>
    <span class="image avatar"><img src="images/avatar.jpg" alt=""/></span>
    <h1 id="logo">Dan Hulton</h1>
    <p>My D&D alignment is Awful Good.</p>
  </header>
  <nav id="nav">
    <ul>
      {% for section in sections %}
        <li><a href="#{{ section.anchor }}"{{' class="active"' if section.active }}>{{ section.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <footer>
    <ul class="icons">
      <li><a href="https://hachyderm.io/@danhulton" class="icon brands fa-mastodon" title="Mastodon"
             target="_blank" rel="me"><span class="label">Mastodon</span></a></li>
      <li><a href="https://github.com/DanHulton/" class="icon brands fa-github" title="Github"
             target="_blank"><span class="label">Github</span></a></li>
      <li><a href="mailto:dan@danhulton.com" class="icon solid fa-envelope" title="Email"><span
        class="label">Email</span></a>
      </li>
    </ul>
  </footer>
</section>

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">

    <!-- About -->
    <section id="about">
      <div class="image main" data-position="center">
        <img src="images/banner.jpg" alt=""/>
      </div>
      <div class="container">
        <header class="major">
          <h2>Dan Hulton</h2>
          <p>Software developer, entrepreneur, socialist, coffee-drinker, opinion-haver,
            and all-around busybody.</p>
        </header>
        <p>Hi, I'm Dan! I'm what's known around these parts as "a computers guy". I grew
          up alongside an <a href="https://en.wikipedia.org/wiki/Atari_8-bit_family#400/800_release"
                             target="_blank">Atari 400</a>,
          an <a href="https://en.wikipedia.org/wiki/IBM_Personal_Computer_XT" target="_blank">IBM PC/XT</a>,
          and various generations of Nintendo devices. I started programming
          professionally during college, and since then have expanded my interests and
          knowledge to include software and systems infrastructure and maintenance,
          usability, security, marketing, customer service, video game design, philosophy,
          politics, coffee, cooking, and all manner of things.</p>
      </div>
    </section>

    <!-- Where To Find Me -->
    <section id="where">
      <div class="container">
        <h3>Where To Find Me</h3>
        <p>I live in Toronto, Canada, but on the internet, I can be found in a varity of places:</p>
        <ul class="feature-icons">
          <li class="icon solid fa-book">
            <a href="https://greaterdanorequalto.com" target="_blank"><strong>Greater
            Dan Or Equal To</strong></a> - My blog.
          </li>
          <li class="icon solid brands fa-mastodon">
            <a href="https://hachyderm.io/@danhulton" target="_blank"><strong>Mastodon</strong></a>
            - @danhulton@hachyderm.io
          </li>
          <li class="icon solid brands fa-github">
            <a href="https://github.com/DanHulton/" target="_blank"><strong>Github</strong></a>
            - If you know more coding languages than spoken languages.
          </li>
        </ul>
      </div>
    </section>

    <!-- Things I've Done -->
    <section id="things">
      <div class="container">
        <h3>Things I've Done</h3>
        <p>I'm always happiest with a project to work on. I love learning new stuff,
          and I find the easiest way to learn new stuff is to try it out
          <a href="https://english.stackexchange.com/questions/30939/is-used-in-anger-a-britishism-for-something">in
            anger</a>.</p>
        <p>That said, not everything lives on forever - time and money spent maintaining
          old code and projects could have also been used for new projects. So while this
          is not a complete list of all the neat things I've worked on, it is all the neat
          things that are still around for people to see.</p>
        <div class="features">
          <article>
            <a href="https://nodewood.com/" class="image" target="_blank"><img src="images/nodewood.jpg"
                                                                               alt=""/></a>
            <div class="inner">
              <h4><a href="https://nodewood.com/" target="_blank">Nodewood</a></h4>
              <p>Nodewood is a Node/JavaScript SaaS starter kit. Instead of spending
                weeks or months of development time building out the bare bones of a SaaS
                app, start with Nodewood, and start with user authentication, subscription
                management, an easily-extensible admin panel, and more!</p>
            </div>
          </article>
          <article class="image-right">
            <div class="inner">
              <h4>I Paid The Most</h4>
              <p>If rarity is valuable, then having the top spot on this site <em>must</em>
              be valuable, as only one person can Pay The Most!</p>
            </div>
            <a href="#" class="image"><img src="images/ipaidthemost.jpg" alt=""/></a>
          </article>
        </div>
      </div>
    </section>

    <!-- Resumé -->
    <section id="resume">
      <div class="container">
        <h3>Resumé</h3>
        <p>Soon (tm).</p>
      </div>
    </section>
  </div>

  <!-- Footer -->
  <section id="footer">
    <div class="container">
      <ul class="copyright">
        <li>Content: &copy; Copyright 2024 Dan Hulton</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
  </section>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
